.banner{
    background-image: url("../img/slide1.jpg");
    min-height: 920px;
    min-width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
@media only screen and (max-device-width: 1366px) {
    .banner {
        min-height: 500px;
        background-attachment: scroll;
    }
  }
 
.ftimg{
    align-items: center;
}

#ribbon{
    background-color: rgb(41, 40, 40);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(223, 98, 98, 0.5) 25px, rgba(94, 27, 55, 0.034) 45px);
}
#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 20px;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px
}

#new{
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#separator-ribbon .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.card-border{
    border: solid 0px transparent;
    border-radius: 5px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.01);
  
}

hr.style13 {
    align-items: center;
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.tarjeta{
    border-color: transparent;
    
    
}

.rojo{
    justify-content:start;
    color: rgb(206, 2, 2);
}

.navbar-toggler{
    font-size: 30px;
}

.lnav{
    font-size: 1.5em;
}

.c-text{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.897);
    padding-bottom: 3%;
    padding-top: 2%;
    color: white;
    border-end-end-radius:8px;
    border-end-start-radius: 8px;
}

.btn-31 {
    display: block;
    box-sizing: border-box;
    padding: 20px 45px;
  
    position: relative;
  
    text-transform: uppercase;
    border: 1px solid currentColor;
  }
  
  .btn-31:before {
    content: "";
    z-index: -1;
  
    position: absolute;
    inset: 0;
  
    --progress: 100%;
  
    background: white;
    clip-path: polygon(
      100% 0,
      var(--progress) var(--progress),
      0 100%,
      100% 100%
    );
    transition: clip-path 0.2s;
  }
  .btn-31:hover:before {
    --progress: 0%;
  }
  
  .btn-31 .text-container {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .btn-31 .text {
    display: block;
    position: relative;
    font-weight: 900;
    mix-blend-mode: difference;
  }
  .btn-31:hover .text {
    animation: move-up-alternate 0.3s forwards;
    will-change: transform;
  }
  
  @keyframes move-up-alternate {
    from {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(80%);
    }
    51% {
      transform: translateY(-80%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  