.banner{
    background-image: url("../img/slide1.jpg");
    min-height: 920px;
    min-width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
@media only screen and (max-device-width: 1366px) {
    .banner {
        min-height: 300px;
        background-attachment: scroll;
    }
  }
 
.ftimg{
    align-items: center;
}

#ribbon{
    background-color: rgb(41, 40, 40);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(223, 98, 98, 0.5) 25px, rgba(94, 27, 55, 0.034) 45px);
}
#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 20px;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px
}

#new{
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#separator-ribbon .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}
hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.tarjeta{
    border-color: transparent;
    
}

.rojo{
    justify-content:start;
    color: rgb(206, 2, 2);
}

.navbar-toggler{
    font-size: 30px;
}

.lnav{
    font-size: 1.5em;
}